.Search {
	border: 15px solid #000099;
	border-radius: 10px;
	background-color: #000099;
	color: white;
	text-align: center;
	font-size: 50;
	font-family: "Rockwell";
}


.Searchbar{
	position: absolute;
	top: 360px;
	left: 30%;
	text-align: left;
	font-size: 25;
	width: 700px;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	display:inline-block;
}
