.subTitle
{
    border: 5px solid #123e6f;
    text-align: center;
    font-size: 50px;
    background-color: #15467c;
    color: white;
}
body
{
    background-color: #244265;
    color: lightblue;
}
.bulletPoint
{
    font-weight: bold;
    font-size: 18px;
    color: lightblue;
}
.commandPoint
{
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 18px;
}
.commandTitle
{
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
    
}
.addBot
{
    text-align: center;
    color: lightblue;
    font-size: 25px;
    border: 3px solid black;
    border-radius: 5px;
}
/*a
{
    color: inherit;
    
}*/
.usageDiv
{
    border: 2px solid #112c4b;
    border-radius: 8px;
    background-color: #112c4b;
}
